<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>爱上无名氏</title>
    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/jquery.cookie.js"></script>
    <script src="javascripts/index.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="../public/javascripts/jquery-1.10.2.js"></script>
    <script src="../public/javascripts/index.js"></script>
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/javascripts/jquery.cookie.js"></script>
</head>


<body >
    <div class="part header">
        <div class="leftC">
            <a href="#">
                <img src="https://avatars2.githubusercontent.com/u/14937633?s=460&v=4" alt="Null">
            </a>
        </div>
        <div class="rightC">
            BB
        </div>
    </div>
    <div class="part container">
        <div class="part part_left">
            <ul class="menu_ul">
                <li class="menu_li">
                    <i class = "icon iconfont icon-lvyoujianzhumingshenggujitourism-shanghaijianzhu"></i>
                    <div href="#" id="ContentShare">Share</div>
                </li>
                <li class="menu_li">
                    <div href="#" id="ColorsI">Colors</div>
                </li>
                <li class="menu_li">
                    <div href="#">Share</div>
                </li>
            </ul>
        </div>
        <div class="part part_right content" id="Content">
        </div> 
    </div>
</body>

</html>