<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>朱子豪Share</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/share.css">
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/share.js"></script>
</head>

<div id="body">
    <div class="share_container">
        <div class="keyshare">
            <div class="title">keyShare</div>
            <div class="part">
                <div class="part_left">
                    当前Key:
                </div>
                <div class="part_right">
                    <input value="<%= keyword %>" type="text" id="currentkey"></input>
                </div>
            </div>
            <div class="part">
                <div class="part_left">
                    输入:
                </div>
                <div class="part_right">
                    <input value="" type="text" id="keyword"></input>
                </div>
            </div>
            <div class="part ">
                <div class="part_left ">
                    上传:
                </div>
                <div class="part_right">
                    <a class="button" id="keyUp">上传</a>
                </div>
            </div>
        </div>
        
        <div class="fileshare">
            <div class="title">FileShare</div>
            <form action="#" method="POST" enctype="multipart/form-data" id="form">
                <div class="part">
                    <div class="part_left">
                        当前File:
                    </div>
                    <div class="part_right">
                        <input value="<%=lastname %>" type="text" disabled id="lastfile"></input>
                    </div>
                </div>
                <div class="part ">
                    <div class="part_left ">
                        下载:
                    </div>
                    <div class="part_right">
                        <a class="button" href="/share/down?filename=<%=lastname %>&id=<%=last_id%>" id="filedown">下载</a>
                    </div>
                </div>
                <div class="part">
                    <div class="part_left">
                        输入:
                    </div>
                    <div class="part_right">
                        <input value="xx" type="file" name="filename" id="filename"></input>
                    </div>
                </div>
                <div class="part ">
                    <div class="part_left ">
                        上传:
                    </div>
                    <div class="part_right">
                        <input class="sumbit button" value="上传" type="submit" ></input>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>

</html>